/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  /* Add transition effect to make caret size changing smoother. */
  transition-property: width, height, margin-left;

  position: absolute;
  z-index: 2147483647;
}

#image,
#text-overlay {
  width: 100%;

  /* Override this property in moz-custom-content-container to make dummy touch
   * listener work. */
  pointer-events: auto;
}

#image {
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
}

:host(.normal) #image {
  background-image: image-set(
    url("resource://gre-resources/accessiblecaret-normal@1x.png"),
    url("resource://gre-resources/accessiblecaret-normal@1.5x.png") 1.5x,
    url("resource://gre-resources/accessiblecaret-normal@2x.png") 2x,
    url("resource://gre-resources/accessiblecaret-normal@2.25x.png") 2.25x
  );
}

:host(.left) #image,
:host(.left) #text-overlay {
  margin-left: -39%;
}

:host(.left) > #image {
  background-image: image-set(
    url("resource://gre-resources/accessiblecaret-tilt-left@1x.png"),
    url("resource://gre-resources/accessiblecaret-tilt-left@1.5x.png") 1.5x,
    url("resource://gre-resources/accessiblecaret-tilt-left@2x.png") 2x,
    url("resource://gre-resources/accessiblecaret-tilt-left@2.25x.png") 2.25x
  );
}

:host(.right) #image,
:host(.right) #text-overlay {
  margin-left: 41%;
}

:host(.right) #image {
  background-image: image-set(
    url("resource://gre-resources/accessiblecaret-tilt-right@1x.png"),
    url("resource://gre-resources/accessiblecaret-tilt-right@1.5x.png") 1.5x,
    url("resource://gre-resources/accessiblecaret-tilt-right@2x.png") 2x,
    url("resource://gre-resources/accessiblecaret-tilt-right@2.25x.png") 2.25x
  );
}

:host(.none) {
  display: none;
}

:host(.hidden) {
  visibility: hidden;
}

@media (-moz-platform: android) {
  #image,
  #text-overlay {
    /* border: 0.1px solid red; */ /* Uncomment border to see the touch target. */
    padding-left: 59%; /* Enlarge the touch area. ((48-22)/2)px / 22px ~= 59% */
    padding-right: 59%; /* Enlarge the touch area. */
    margin-left: -59%;
  }

  #image {
    padding-bottom: 59%; /* Enlarge the touch area. */
  }

  :host(.normal) #image {
    background-image: url("resource://gre-resources/accessiblecaret-normal.svg");
  }

  :host(.left) #image,
  :host(.left) #text-overlay {
    margin-left: -109%;
  }

  :host(.left) #image {
    background-image: url("resource://gre-resources/accessiblecaret-tilt-left.svg");
  }

  :host(.right) #image,
  :host(.right) #text-overlay {
    margin-left: -12%;
  }

  :host(.right) #image {
    background-image: url("resource://gre-resources/accessiblecaret-tilt-right.svg");
  }
}

/*
 * The following CSS styles are b2g specefic and override the above styling.
 * They are copied from content.css and updated per MozBug#1824886.
 */

:host {
  --caret-width: 14px;
  --caret-height: 14px;
  --caret-bar-width: 2px;
  --caret-color: #0073e6;

  transition: unset; /* remove animation */
}

#bar {
  margin-left: -0.5px;
  background-color: var(--caret-color);
}

:host(.left) #bar {
  margin-left: calc(var(--caret-bar-width) * -1 + 0.5px);
}

#image,
#text-overlay {
  width: var(--caret-width);
  height: 100%;
  padding: 0 var(--caret-width);
}

#image {
  padding-bottom: var(--caret-height);
}

:host(.normal) #image,
:host(.left) #image,
:host(.right) #image {
  background-image: none;
}

:host(.normal) :is(#text-overlay, #image),
:host(.right) :is(#text-overlay, #image) {
  margin-left: calc(var(--caret-width) * -1 - 0.5px);
}

:host(.left) :is(#text-overlay, #image) {
  margin-left: calc(var(--caret-width) * -2 + 0.5px);
}

:host(.none) {
  display: block;
  visibility: hidden;
}

@media (min-resolution: 1.5dppx) {
  :host(.normal) #image,
  :host(.left) #image,
  :host(.right) #image {
    background-image: none;
  }
}

@media (min-resolution: 2dppx) {
  :host(.normal) #image,
  :host(.left) #image,
  :host(.right) #image {
    background-image: none;
  }
}

@media (min-resolution: 2.25dppx) {
  :host(.normal) #image,
  :host(.left) #image,
  :host(.right) #image {
    background-image: none;
  }
}

:host(.normal) #image:after,
:host(.left) #image:after,
:host(.right) #image:after {
  content: "";
  display: block;

  width: var(--caret-width);
  height: var(--caret-height);

  position: relative;
  top: 0;

  background-color: var(--caret-color);
  border-color: var(--caret-color);
  border-width: 1px;

  transition-duration: 250ms;
  transition-property: width, height;
}

:host(.normal) #image:after,
:host(.right) #image:after {
  border-radius: 4% 50% 50% 50%;
  left: 0;
}

:host(.left) #image:after {
  border-radius: 50% 4% 50% 50%;
  right: 0;
}
